.idea/
test.db
*cache*
backend/.venv
CANVAS_CLIENT_ID.txt
CANVAS_CLIENT_SECRET.txt
CANVAS_DEVELOPER_KEY.txt
CANVAS_DEVELOPER_KEY_ID.txt
JWT_SECRET.txt
POSTGRES_PASSWORD.txt
POSTGRES_USER.txt
*_log.txt
*.DS_Store