.container{
  margin: 0 auto;
}


.form-group {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
  max-width: 80vw;
  padding: 15px;
  opacity: 100%;
  border-color: #0079cf;
  border-width: 2px;
  border-style: solid;
  margin: 15px auto;
}
.form-buttons{
  margin: 0 auto;
}
.pageTitle {
  font-size: 32px;
  font-weight: bold;
  margin-top: 15px;
}
.textBoxTitle {
  font-size: 28px;
}

#aspectCheck {
  background-color: #0079cf;
}

.underlineContent {
  display: inline-block;
  width: 90%;
  border: 1px solid #0079cf;
}
.checkBoxContainer {
  max-width: 90%;
  margin: 0 auto;
}
#textFieldContainer {
  max-height: 25%;
}

.RatingCard{
  width: 50vw;
  height: auto;
  margin: 0 auto;
  max-height: 100%;
  min-height: 75%;
  max-width: 90%;
  min-width: 30%;
  border-radius: 15px;
}

.overlay{
  position: fixed;
}

.overlay__scrim {
  width: 100%;
    transition: inherit;
    will-change: opacity;
  height: 100%;
}
#submitButton{
  max-width: 20%;
}
