.textField {
  min-height: 75px;
  padding: 15px;
  opacity: 100%;
  margin: 25px 15px;
  border-style: solid;
  border-color: lightgray;
}

.pageTitle {
  font-size: 32px;
  font-weight: bold;
  margin-top: 15px;
}

.textBoxTitle {
  font-size: 18px;
}

#aspectCheck {
  background-color: #0079CF;

}

#productTextContainer {
  margin-bottom: 50px;
}

.underlineContent {
  display: inline-block;
  width: 90%;
  border: 1px solid #0079CF;
}

.checkBoxContainer {
  max-width: 90%;
  margin: 0 auto;
}

#submitButton {
  position: relative;
  left: 45%;
}

.RatingUpdateCard {
  min-width: 40%;
  max-width: 90%;
  margin: 5%;
  padding: 15px;
}